@model VerifyEmailViewmodel;

@{
    ViewData["Title"] = "Verify Email";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div class="d-flex justify-content-center align-items-center"
     style="background-image: url('../images/account-bg.jpg'); background-size: cover; background-position: center;
            background-repeat: repeat-y; min-height: 100vh; padding: 2rem 0;">

    <div class="bg-white p-4 p-md-5 rounded shadow" style="max-width: 500px; width: 100%; opacity: 0.9;">
        <h2 class="text-center mb-4">Verify Email</h2>
        <form asp-action="VerifyEmail" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <input type="submit" value="Verify" class="btn btn-primary w-100 p-2" />
            <div class="text-center mt-2">
                <a asp-controller="Home" asp-action="Index" class="text-decoration-none mt-3">Back</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");
    }
}